<%- include('./partials/topo', {titulo:"Página Principal"}) %>
          
          <div class="jumbotron">
            <h2>Bem Vindo</h2>
          </div>
          <div class="row">
            <div class="card p-5 text-center mr-4 ml-3">
              <h3>x</h3>
              <span>Produtos Cadastrados</span>
            </div>
            <div class="card p-5 text-center">
              <h3>x</h3>
              <span>Usuários Cadastrados</span>
            </div>
          </div>

<%- include('./partials/rodape') %>
